{%extends 'base_register.html'%}
{%load static%}

{%block header%}Zresetuj hasło{%endblock%}

{%block content%}

<div class="row text-center">
  <h1>Zmień hasło</h1>
</div>

<div class="row">
  <div class="col-sm-2 col-md-6 col-lg-4 mb-4">
    <div class="container">
      <form action="" method="post">
        {%csrf_token%}
        <div class="input-group">
          <label for="password">Nowe hasło</label>
          {{form.new_password1}}
        </div>
        <div class="input-group">
          <label for="password">Wprowadż ponownie</label>
          {{form.new_password2}}
        </div> 
        {% if form.errors %}

            {% for field, errors in form.errors.items %}
              {% for error in errors %}
              <div class="error-message">•{{error}}</div>
              {% endfor %}
            {% endfor %}

        {% endif %}
        <button type="submit">Accept</button>
      </form>
    </div>
  </div>
</div>
{%endblock%}