{% extends "base.html" %}
{% load static %}  

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }

  .polityka {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    margin: 0;
  }

  h2 {
    background-color: #005ea2;
    color: white;
    padding: 10px;
  }

  p {
    margin: 10px;
  }

  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>

<body>
  <h1 class="polityka">Polityka Prywatności i Pliki Cookie</h1>
  <div class="container">
    <h2>Pliki Cookie</h2>
    <p>Strona korzysta z plików cookie w celu poprawy jakości usług. Korzystając z naszej strony, akceptujesz naszą politykę prywatności.</p>

    <h2>Polityka Prywatności</h2>
    <p>Nasza polityka prywatności ma na celu zapewnienie pełnej ochrony prywatności i poufności danych użytkowników. Jako serwis zajmujący się obsługą samochodów, gromadzimy informacje od użytkowników wyłącznie w celu poprawy jakości usług świadczonych przez nasz serwis. Dbamy o bezpieczeństwo i poufność wszystkich danych, które nam powierzają, i ponosimy pełną odpowiedzialność za ich anonimowość i ochronę.</p>

    <h3>1. Rodzaje Gromadzonych Informacji</h3>
    <p>Gromadzimy informacje, które użytkownicy nam dostarczają, w tym dane osobowe takie jak imię, nazwisko, adres e-mail, numer telefonu, numer rejestracyjny pojazdu, itp. oraz dane dotyczące pojazdów i ich serwisu.</p>

    <h3>2. Cel Gromadzenia Informacji</h3>
    <p>Informacje gromadzone przez nas wykorzystujemy wyłącznie w celu zapewnienia lepszych usług, analizy ruchu na stronie, personalizacji zawartości, obsługi klienta oraz świadczenia usług serwisowych. Dzięki zebranym danym możemy dostosować naszą ofertę do potrzeb użytkowników, udzielić im odpowiedzi na pytania, zaplanować terminy wizyt serwisowych i utrzymać sprawność pojazdów naszych klientów.</p>

    <h3>3. Udostępnianie Informacji</h3>
    <p>Nie udostępniamy informacji osobom trzecim bez wyraźnej zgody użytkowników, chyba że jest to konieczne w celu zapewnienia usług, lub gdy jest to wymagane przez prawo. Jednocześnie podejmujemy wszelkie możliwe środki, aby zapewnić bezpieczeństwo danych naszych użytkowników i ograniczyć dostęp do nich tylko do osób, które są do tego uprawnione.</p>

    <h3>4. Ochrona Danych</h3>
    <p>Zabezpieczamy informacje użytkowników przed nieautoryzowanym dostępem, utratą lub zmianą. Wdrażamy odpowiednie środki bezpieczeństwa, aby chronić dane osobowe przed przypadkową lub nielegalną utratą, dostępem, ujawnieniem, zmianą lub zniszczeniem. Dbamy o aktualizację oprogramowania, stosujemy protokoły szyfrowania, oraz kontrolujemy dostęp do danych zgodnie z obowiązującymi przepisami prawnymi i standardami branżowymi.</p>

    <h3>5. Pliki Cookie</h3>
    <p>Wykorzystujemy pliki cookie w celu śledzenia preferencji użytkowników i ulepszania jakości usług. Użytkownik ma możliwość zarządzania ustawieniami plików cookie w swojej przeglądarce internetowej. Pliki cookie mogą być wykorzystywane do gromadzenia informacji na temat aktywności użytkownika na naszej stronie, abyśmy mogli dostosować zawartość do jego preferencji i zapewnić bardziej spersonalizowane doświadczenie użytkownika. Przyjmując pliki cookie, użytkownik zgadza się na ich wykorzystanie zgodnie z naszą polityką prywatności.</p>

    <h2>Kontakt</h2>
    <p>Jeśli masz pytania dotyczące naszej polityki prywatności lub wykorzystania plików cookie, skontaktuj się z nami pod adresem nikoserwis23@gmail.com .</p>

    <p>Data ostatniej aktualizacji: 20.07.2024</p>
  </div>
{% endblock %}
