{%extends 'base.html'%}
{%load static%}


{%block header%}Nasze nowości{%endblock%}

{%block content%}
  <section class="news">
    <div class="container">
      <div class="row">
        {% if news %}
        {%for inf in news%}
        <div class="col-md-6">
          <div class="news-item">
            {%if inf.img%}
            <img src="{{inf.img.url}}" alt="News Image" class="news-image">
            {%endif%}
            {%if inf.header%}
            <h3 class="news-title">{{inf.header}}</h3>
            {%endif%}
            <p class="news-date">{{inf.date}}</p>
            {%if inf.desc%}
            <p class="news-description">{{inf.desc}}</p>
            {%endif%}
          </div>
        </div>
        {%endfor%}
        {%else%}
        <h1 class="mb-5 mt-5 text-center">Na razie ten rozdział jest pusty, zajmiemy się nim w najbliższy czas</h1>
        {%endif%}
      </div>
    </div>
  </section> 

  <style>
    #btn2{
      background-color: #607ebf;
    }
    .news-item{
      border: 2px solid rgb(255, 255, 135);
    }
    .news-image{
      border: 2px;
    }
  </style>

{%endblock%}